{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}


{% block body %}

{% block stylesheets %}
        {{ parent() }} 
{% endblock %}

<style>
    
</style>

<div class="card">
    <div class="card-header">Formulaire de recherche</div>
    <div class="card-body">
        {{ form(form) }}
    </div>
</div>

    <!-- Insérer le tableau retourné par appel ajax -->
   <div id="ajaxResults"></div>

{% endblock %}

{% block javascripts %}
       {{ parent() }}
       {{ encore_entry_script_tags('control') }}
       <script type="text/javascript">    
       </script>   
{% endblock %}

