<div class="card">
            <div class="card-header">Résultats</div>
            <div class="card-body">
                <table id="tabProduct" class="table">
                    <thead>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Price</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                    {% if products is defined and products is  not empty %}
                        {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.description }}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr><td colspan="4">Aucun produit trouvé</td></tr>
                    {% endif %}
                    </tbody>
                </table>
                </div>
            <div class="card-footer">footer</div>
</div>